*{
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.padre{
    display: flex;
    flex-flow: column nowrap;
}

.header{
    background-color: darkkhaki;
    display: flex;
    flex-flow: column nowrap;
}
.menu{
    background-color: aliceblue;
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;

}

.logo{
    background: #02bc53;
    flex: 1 1 auto;
    height: 30px;
}

.nav{
    background: #145891;
    flex: 5 1 auto;
    height: 30px;
}

.social{
    background: #b95a5a;
    flex: 1 1 auto;
    height: 30px;
}
.texto-principal{
    background: #666666;
    
}
        h1{
            background:deeppink;
        }
.section{
    background:chartreuse;
}
    .articulos{
        background:gold;
    }
        .article{
            background:burlywood;
        }
        .navegacion{
            background:orange;
        }
        .aside{
            background:coral;
        }
        .publicidad{
            background:greenyellow;
        }
        .footer{
            background: cyan;
        }
        .pie{
             background: lightyellow;
        }